body {
    background-color: whitesmoke;
    cursor: pointer;
    width: 100%;

}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}
html{
    width: 100%;
}
.parent {
    display: inline-block;
    flex-direction: row;  
}
.Websites {
    padding-left: 500px;
    color: black;
    margin-top: 20px;
}
.child1 {
    width: 400px;
    height: 300px;
    background-color: #2E9DFF;
    margin-left: 40px ;
    padding: 32px;
    margin-top: 200px;
   border-radius: 5px;
   
   
}

h1 {
    font-family: roboto;
    color: white;
    size: 30px;
    font-weight: 400;
    margin-bottom: 30px;
}
p {
    font-family: poppins;
    text-align: left;
    color: white;
    size: 16px;
    font-weight: 400;
    line-height: 23px;
}
.child2 {
    width: 400px;
    height: 300px;
    background-color: white;
    margin-left: 40px ;
    padding: 32px;
    margin-top: 200px;
   border-radius: 5px;
   border-bottom: 6px solid blue;
   border-right: 0.3px solid blue;
}
.st {
   color: #2E9DFF; 
}

.Graphics {
    color: black;
}


.child3 {
    width: 400px;
    height: 300px;
    background-color: #2E9DFF;
    margin-left: 40px ;
    padding: 32px;
    margin-top: 200px;
   border-radius: 5px;
   margin-right: 40px;
    box-shadow: 5px  15px 80px green;
  border-top: 5px solid blue;
  border-bottom: 5px solid yellow;
}
.child1:hover,.child3:hover {
    background-color: black;
}